.container {
    background-color: white;
    max-height: 600px;
    max-width: 600px;
    margin: auto;
    border: 2px solid gray;

}

.cell {
    background-color: white;
    height: 147px;
    width: 147px;
   display: inline-block;
}
.clicked{
    background-color: lightgray;
}

#heading{
    font-family: Georgia;
    font-size: 3em;
}
#body{
    background-color: bisque;
}

