.container {
    background-color: white;
    height: 600px;
    width: 600px;
    position: fixed;
    left: 31%;
    top: 12%;
    border: 2px solid gray;

}

.divid {
    background-color: white;
    height: 147px;
    width: 147px;
   display: inline-block;
}

